Repository roblandry/apex-neptune-home-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, pyright, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.9
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        types: [markdown]
        additional_dependencies:
          - markdownlint-cli2@0.14.0

      - id: markdownlint-fix
        name: markdownlint (markdownlint-cli2 --fix)
        entry: markdownlint-cli2 --fix
        language: node
        types: [markdown]
        stages: [manual]
        additional_dependencies:
          - markdownlint-cli2@0.14.0

      - id: pyright
        name: pyright
        entry: pyright
        language: python
        args: [--project, pyrightconfig.precommit.json]
        additional_dependencies:
          - pyright>=1.1.390
          # Provide Home Assistant modules/types in the hook env.
          - pytest-homeassistant-custom-component>=0.13.301
          # Runtime dependency declared in manifest.json
          - jsonpath-ng>=1.7.0
          # Used by auto_detect.py
          - requests>=2.31.0
        types: [python]
        pass_filenames: true

      - id: pyright-all
        name: pyright (full repo)
        entry: pyright
        language: python
        args: [--project, pyrightconfig.precommit.json]
        additional_dependencies:
          - pyright>=1.1.390
          # Provide Home Assistant modules/types in the hook env.
          - pytest-homeassistant-custom-component>=0.13.301
          # Runtime dependency declared in manifest.json
          - jsonpath-ng>=1.7.0
          # Used by auto_detect.py
          - requests>=2.31.0
        pass_filenames: false
        stages: [manual]

      - id: pytest
        name: pytest (-q)
        entry: pytest -q
        language: python
        files: ^tests/
        pass_filenames: true
        additional_dependencies:
          # Keep this minimal: only what's required to run the test suite.
          - pytest>=8
          - pytest-asyncio>=1.3.0
          - pytest-cov>=7.0.0
          - pytest-homeassistant-custom-component>=0.13.301
          # Runtime dependency declared in manifest.json
          - jsonpath-ng>=1.7.0

      - id: pytest-all
        name: pytest (-q) (full suite)
        entry: pytest -q
        language: python
        always_run: true
        pass_filenames: false
        stages: [manual]
        additional_dependencies:
          # Keep this minimal: only what's required to run the test suite.
          - pytest>=8
          - pytest-asyncio>=1.3.0
          - pytest-cov>=7.0.0
          - pytest-homeassistant-custom-component>=0.13.301
          # Runtime dependency declared in manifest.json
          - jsonpath-ng>=1.7.0

      - id: full-suite-stashed
        name: full suite (stash WIP)
        entry: python scripts/precommit_full_stash.py
        language: python
        pass_filenames: false
        stages: [manual]
        additional_dependencies:
          - pyright>=1.1.390
          - pytest>=8
          - pytest-asyncio>=1.3.0
          - pytest-cov>=7.0.0
          - pytest-homeassistant-custom-component>=0.13.301
          - jsonpath-ng>=1.7.0
          - requests>=2.31.0

ci: replace TODO-to-issue workflow with repo script
  .github/scripts/todo_sync.py
  .github/workflows/todo.yml
  .github/workflows/validate.yaml
Due: pyright

fix(binary_sensor.py): change 0 to open and 1 to closed to properly represent status
  CHANGELOG.md
  cliff.toml
  custom_components/apex_fusion/binary_sensor.py
  tests/test_binary_sensor.py
Due: markdownlint, pyright, pytest

fix: replace missing icon
  custom_components/apex_fusion/binary_sensor.py
Due: pyright

refactor: internal api
  custom_components/apex_fusion/__init__.py
  custom_components/apex_fusion/apex_fusion/__init__.py
  custom_components/apex_fusion/apex_fusion/context.py
  custom_components/apex_fusion/apex_fusion/data_fields.py
  custom_components/apex_fusion/apex_fusion/discovery.py
  custom_components/apex_fusion/apex_fusion/extract.py
  custom_components/apex_fusion/apex_fusion/inputs.py
  custom_components/apex_fusion/apex_fusion/modules.py
  custom_components/apex_fusion/apex_fusion/network.py
  custom_components/apex_fusion/apex_fusion/outputs.py
  custom_components/apex_fusion/apex_fusion/probes.py
  custom_components/apex_fusion/apex_fusion/trident.py
  custom_components/apex_fusion/apex_fusion/util.py
  custom_components/apex_fusion/binary_sensor.py
  custom_components/apex_fusion/button.py
  custom_components/apex_fusion/config_flow.py
  custom_components/apex_fusion/const.py
  custom_components/apex_fusion/coordinator.py
  custom_components/apex_fusion/number.py
  custom_components/apex_fusion/select.py
  custom_components/apex_fusion/sensor.py
  custom_components/apex_fusion/switch.py
  custom_components/apex_fusion/update.py
  tests/test_binary_sensor.py
  tests/test_button.py
  tests/test_config_flow.py
  tests/test_coordinator_parsing.py
  tests/test_coordinator_update.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_switch.py
Due: pyright, pytest

refactor: clean internal api
  .vscode/settings.json
  custom_components/apex_fusion/apex_fusion/__init__.py
  custom_components/apex_fusion/apex_fusion/outputs.py
  custom_components/apex_fusion/apex_fusion/probes.py
  custom_components/apex_fusion/binary_sensor.py
  custom_components/apex_fusion/select.py
  custom_components/apex_fusion/sensor.py
  custom_components/apex_fusion/switch.py
  tests/test_binary_sensor.py
  tests/test_button.py
  tests/test_discovery.py
  tests/test_extract.py
  tests/test_modules.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_switch.py
Due: pyright, pytest

chore(release): v0.1.0
  README.md
  custom_components/apex_fusion/icon.png
  custom_components/apex_fusion/icon@2x.png
  custom_components/apex_fusion/logo.png
  custom_components/apex_fusion/logo@2x.png
  custom_components/apex_fusion/manifest.json
  hacs.json
  icons/apex_128.png
  icons/apex_192.png
  icons/apex_256.png
  icons/apex_32.png
  icons/apex_512.png
  icons/apex_64.png
Due: markdownlint

chore(manifests) correct HACS manifest
  hacs.json
Due: none

ci(coverage): fix failing test
  .github/workflows/coverage.yml
Due: none

ci: generate coverage badge with genbadge
  .github/workflows/coverage.yml
Due: none

ci: fix genbadge invocation
  .github/workflows/coverage.yml
Due: none

chore(release): update changelog
  CHANGELOG.md
Due: markdownlint

chore(todo): fix todo workflow
  .github/scripts/todo_sync.py
  .github/workflows/todo.yml
Due: pyright

ci: todo settings.json
  .vscode/settings.json
Due: none

chore: remove unused/unfound values
  custom_components/apex_fusion/apex_fusion/inputs.py
  tests/test_binary_sensor.py
Due: pyright, pytest
